html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,
body,
button,
input {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

fieldset,
button {
  border: none;
}
